/*
    Document   : aboutme.css
    Created on : 2015-09-09 09:45 PM
    Author     : YourName650
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}